.intro{
    text-align: justify;
}

.header{
    background-color: black;
    color: yellow;
}

.footer{
    background-color: black;
    color:yellow;
}

.btn{
    border-width: 10%;
    border-radius: 10%;
}