<form action="/gerarPseudoPalavras" method="POST">
    Escolha as palavras fonte desejadas para gerar pseudo-palavras:
    <br><br>
    <div class="form-group"> 
    <input type="checkbox" id="babilônico" name="babilônico" value="babilônico">
  <label for="babilônico"> babilônico </label><br>    <input type="checkbox" id="cefálico" name="cefálico" value="cefálico">
  <label for="cefálico"> cefálico </label><br>    <input type="checkbox" id="básico" name="básico" value="básico">
  <label for="básico"> básico </label><br>    <input type="checkbox" id="solícita" name="solícita" value="solícita">
  <label for="solícita"> solícita </label><br>    <input type="checkbox" id="sexólogo" name="sexólogo" value="sexólogo">
  <label for="sexólogo"> sexólogo </label><br>    <input type="checkbox" id="dicotômico" name="dicotômico" value="dicotômico">
  <label for="dicotômico"> dicotômico </label><br>    <input type="checkbox" id="molécula" name="molécula" value="molécula">
  <label for="molécula"> molécula </label><br>    <input type="checkbox" id="fenômeno" name="fenômeno" value="fenômeno">
  <label for="fenômeno"> fenômeno </label><br>    <input type="checkbox" id="benéfico" name="benéfico" value="benéfico">
  <label for="benéfico"> benéfico </label><br>    <input type="checkbox" id="decágono" name="decágono" value="decágono">
  <label for="decágono"> decágono </label><br>    <input type="checkbox" id="monógamo" name="monógamo" value="monógamo">
  <label for="monógamo"> monógamo </label><br>    <input type="checkbox" id="tirânico" name="tirânico" value="tirânico">
  <label for="tirânico"> tirânico </label><br>    <input type="checkbox" id="colágena" name="colágena" value="colágena">
  <label for="colágena"> colágena </label><br>    <input type="checkbox" id="peróxido" name="peróxido" value="peróxido">
  <label for="peróxido"> peróxido </label><br>    <input type="checkbox" id="tetânico" name="tetânico" value="tetânico">
  <label for="tetânico"> tetânico </label><br>    <input type="checkbox" id="cinética" name="cinética" value="cinética">
  <label for="cinética"> cinética </label><br>    <input type="checkbox" id="lanífero" name="lanífero" value="lanífero">
  <label for="lanífero"> lanífero </label><br>    <input type="checkbox" id="títere" name="títere" value="títere">
  <label for="títere"> títere </label><br>    <input type="checkbox" id="hábito" name="hábito" value="hábito">
  <label for="hábito"> hábito </label><br>    <input type="checkbox" id="hematêmese" name="hematêmese" value="hematêmese">
  <label for="hematêmese"> hematêmese </label><br>    <input type="checkbox" id="cócega" name="cócega" value="cócega">
  <label for="cócega"> cócega </label><br>    <input type="checkbox" id="marítimo" name="marítimo" value="marítimo">
  <label for="marítimo"> marítimo </label><br>    <input type="checkbox" id="herética" name="herética" value="herética">
  <label for="herética"> herética </label><br>    <input type="checkbox" id="patogênico" name="patogênico" value="patogênico">
  <label for="patogênico"> patogênico </label><br>    <input type="checkbox" id="telúrica" name="telúrica" value="telúrica">
  <label for="telúrica"> telúrica </label><br>    <input type="checkbox" id="herético" name="herético" value="herético">
  <label for="herético"> herético </label><br>    <input type="checkbox" id="mamífero" name="mamífero" value="mamífero">
  <label for="mamífero"> mamífero </label><br>    <input type="checkbox" id="zênite" name="zênite" value="zênite">
  <label for="zênite"> zênite </label><br>    <input type="checkbox" id="panorâmico" name="panorâmico" value="panorâmico">
  <label for="panorâmico"> panorâmico </label><br>    <input type="checkbox" id="patológica" name="patológica" value="patológica">
  <label for="patológica"> patológica </label><br>    </div>    <button type="submit" class="btn btn-default">Gerar Pseudo-Palavras</button></form>