<form action="/gerarPseudoPalavras" method="POST">
    Escolha as palavras fonte desejadas para gerar pseudo-palavras:
    <br><br>
    <div class="form-group"> 
    <input type="checkbox" id="orçávamos" name="list" value="orçávamos">
  <label for="orçávamos"> orçávamos </label><br>    <input type="checkbox" id="osmóticos" name="list" value="osmóticos">
  <label for="osmóticos"> osmóticos </label><br>    <input type="checkbox" id="ôntico" name="list" value="ôntico">
  <label for="ôntico"> ôntico </label><br>    <input type="checkbox" id="órbita" name="list" value="órbita">
  <label for="órbita"> órbita </label><br>    <input type="checkbox" id="assáramos" name="list" value="assáramos">
  <label for="assáramos"> assáramos </label><br>    <input type="checkbox" id="sêxtuplo" name="list" value="sêxtuplo">
  <label for="sêxtuplo"> sêxtuplo </label><br>    <input type="checkbox" id="crédito" name="list" value="crédito">
  <label for="crédito"> crédito </label><br>    <input type="checkbox" id="undécimas" name="list" value="undécimas">
  <label for="undécimas"> undécimas </label><br>    <input type="checkbox" id="límpida" name="list" value="límpida">
  <label for="límpida"> límpida </label><br>    <input type="checkbox" id="erráticas" name="list" value="erráticas">
  <label for="erráticas"> erráticas </label><br>    <input type="checkbox" id="rústico" name="list" value="rústico">
  <label for="rústico"> rústico </label><br>    <input type="checkbox" id="óptica" name="list" value="óptica">
  <label for="óptica"> óptica </label><br>    <input type="checkbox" id="ínfima" name="list" value="ínfima">
  <label for="ínfima"> ínfima </label><br>    <input type="checkbox" id="estáticas" name="list" value="estáticas">
  <label for="estáticas"> estáticas </label><br>    <input type="checkbox" id="atávico" name="list" value="atávico">
  <label for="atávico"> atávico </label><br>    <input type="checkbox" id="crônica" name="list" value="crônica">
  <label for="crônica"> crônica </label><br>    <input type="checkbox" id="apófise" name="list" value="apófise">
  <label for="apófise"> apófise </label><br>    <input type="checkbox" id="órtese" name="list" value="órtese">
  <label for="órtese"> órtese </label><br>    <input type="checkbox" id="crápula" name="list" value="crápula">
  <label for="crápula"> crápula </label><br>    <input type="checkbox" id="octógonos" name="list" value="octógonos">
  <label for="octógonos"> octógonos </label><br>    <input type="checkbox" id="esféricos" name="list" value="esféricos">
  <label for="esféricos"> esféricos </label><br>    <input type="checkbox" id="ilháramos" name="list" value="ilháramos">
  <label for="ilháramos"> ilháramos </label><br>    <input type="checkbox" id="errávamos" name="list" value="errávamos">
  <label for="errávamos"> errávamos </label><br>    <input type="checkbox" id="frígida" name="list" value="frígida">
  <label for="frígida"> frígida </label><br>    <input type="checkbox" id="séqüito" name="list" value="séqüito">
  <label for="séqüito"> séqüito </label><br>    <input type="checkbox" id="bárbaro" name="list" value="bárbaro">
  <label for="bárbaro"> bárbaro </label><br>    <input type="checkbox" id="antíteses" name="list" value="antíteses">
  <label for="antíteses"> antíteses </label><br>    <input type="checkbox" id="líquido" name="list" value="líquido">
  <label for="líquido"> líquido </label><br>    <input type="checkbox" id="cálculo" name="list" value="cálculo">
  <label for="cálculo"> cálculo </label><br>    <input type="checkbox" id="atípico" name="list" value="atípico">
  <label for="atípico"> atípico </label><br>    </div>    <button type="submit" class="btn btn-default">Gerar Pseudo-Palavras</button>
</form>