<form action="/gerarPseudoPalavras" method="POST">
    Escolha as palavras fonte desejadas para gerar pseudo-palavras:
    <br><br>
    <div class="form-group"> 
    <input type="checkbox" id="enojemo" name="list" value="enojemo">
  <label for="enojemo"> enojemo </label><br>    <input type="checkbox" id="conturbo" name="list" value="conturbo">
  <label for="conturbo"> conturbo </label><br>    <input type="checkbox" id="educara" name="list" value="educara">
  <label for="educara"> educara </label><br>    <input type="checkbox" id="troco" name="list" value="troco">
  <label for="troco"> troco </label><br>    <input type="checkbox" id="sentada" name="list" value="sentada">
  <label for="sentada"> sentada </label><br>    <input type="checkbox" id="encete" name="list" value="encete">
  <label for="encete"> encete </label><br>    <input type="checkbox" id="perante" name="list" value="perante">
  <label for="perante"> perante </label><br>    <input type="checkbox" id="rateada" name="list" value="rateada">
  <label for="rateada"> rateada </label><br>    <input type="checkbox" id="ligeira" name="list" value="ligeira">
  <label for="ligeira"> ligeira </label><br>    <input type="checkbox" id="esnobo" name="list" value="esnobo">
  <label for="esnobo"> esnobo </label><br>    <input type="checkbox" id="esmago" name="list" value="esmago">
  <label for="esmago"> esmago </label><br>    <input type="checkbox" id="afanava" name="list" value="afanava">
  <label for="afanava"> afanava </label><br>    <input type="checkbox" id="persas" name="list" value="persas">
  <label for="persas"> persas </label><br>    <input type="checkbox" id="escaparas" name="list" value="escaparas">
  <label for="escaparas"> escaparas </label><br>    <input type="checkbox" id="migrava" name="list" value="migrava">
  <label for="migrava"> migrava </label><br>    <input type="checkbox" id="cuspida" name="list" value="cuspida">
  <label for="cuspida"> cuspida </label><br>    <input type="checkbox" id="gesta" name="list" value="gesta">
  <label for="gesta"> gesta </label><br>    <input type="checkbox" id="soquete" name="list" value="soquete">
  <label for="soquete"> soquete </label><br>    <input type="checkbox" id="fumes" name="list" value="fumes">
  <label for="fumes"> fumes </label><br>    <input type="checkbox" id="organizes" name="list" value="organizes">
  <label for="organizes"> organizes </label><br>    <input type="checkbox" id="rachada" name="list" value="rachada">
  <label for="rachada"> rachada </label><br>    <input type="checkbox" id="balança" name="list" value="balança">
  <label for="balança"> balança </label><br>    <input type="checkbox" id="expila" name="list" value="expila">
  <label for="expila"> expila </label><br>    <input type="checkbox" id="novos" name="list" value="novos">
  <label for="novos"> novos </label><br>    <input type="checkbox" id="frente" name="list" value="frente">
  <label for="frente"> frente </label><br>    <input type="checkbox" id="cinjas" name="list" value="cinjas">
  <label for="cinjas"> cinjas </label><br>    <input type="checkbox" id="nafta" name="list" value="nafta">
  <label for="nafta"> nafta </label><br>    <input type="checkbox" id="soles" name="list" value="soles">
  <label for="soles"> soles </label><br>    <input type="checkbox" id="tratamo" name="list" value="tratamo">
  <label for="tratamo"> tratamo </label><br>    <input type="checkbox" id="livresco" name="list" value="livresco">
  <label for="livresco"> livresco </label><br>    </div>    <button type="submit" class="btn btn-default">Gerar Pseudo-Palavras</button>
</form>